mixin pagination(pagination, baseQuery='')
	if (typeof pagination !== 'undefined' && pagination && pagination.totalPage)
		- const prefix = (baseQuery) ? baseQuery + '&' : '';
		nav
			ul(class="pagination")
				li(class=`page-item ${pagination.currentPage === pagination.firstPage ? 'disabled' : ''}`)
					a(class="page-link" href=`?${prefix}page=${pagination.firstPage}`) Trang đầu

				li(class=`page-item ${!pagination.hasPrev ? 'disabled' : ''}`)
					a(class="page-link" href=`?${prefix}page=${pagination.hasPrev ? pagination.prevPage : pagination.currentPage}`) Trang trước

				- for (var i = 0; i < pagination.pages.length; i++)
					- const p = pagination.pages[i];
					li(class=`page-item ${pagination.currentPage === p ? 'active' : ''}`)
						a(class="page-link" href=`?${prefix}page=${p}`)= p

				li(class=`page-item ${!pagination.hasNext ? 'disabled' : ''}`)
					a(class="page-link" href=`?${prefix}page=${pagination.hasNext ? pagination.nextPage : pagination.currentPage}`) Kế tiếp

				li(class=`page-item ${pagination.currentPage === pagination.lastPage ? 'disabled' : ''}`)
					a(class="page-link" href=`?${prefix}page=${pagination.lastPage}`) Trang cuối
